[Desktop Entry]
Version=1.0
Type=Application

Name=Sandbox
Comment=A sand simulation game
Categories=Game;Simulation;
Icon=com.github.jms55.Sandbox

Exec=sandbox
Terminal=false
StartupNotify=false
